# Environment & secrets
.env
.tokens.json

# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
pip-wheel-metadata/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
